# Node
node_modules/
dist/
*.log

# Vite
client/.vite/

# Env
.env
.env.local
client/.env
server/.env

# Uploads: تجاهل كل الملفات لكن احتفظ بالمجلد
uploads/*
!uploads/.gitkeep
.DS_Store

package-lock.json
